# Database file
db.sqlite3

# venv file
.venv/

# vscode file
.vscode/

# migration files
sysmo/logserver/migrations/

# __pycache__/
logserver/__pycache__/

# .pyc file
*.pyc

# mirgations
logserver/migrations/

*.log
