# Database file
sysmo/db.sqlite3
sysmo/logserver/__pycache__/models.cpython-310.pyc
sysmo/logserver/__pycache__/serializers.cpython-310.pyc
sysmo/logserver/__pycache__/urls.cpython-310.pyc
sysmo/logserver/__pycache__/views.cpython-310.pyc
sysmo/logserver/__pycache__/
logserver/__pycache__/

# venv file
.venv/

# vscode file
.vscode/

# migration files
sysmo/logserver/migrations/

# __pycache__/
logserver/__pycache__/

# .pyc file
*.pyc

# mirgations
logserver/migrations/

*.log
sysmo/sysmo/__pycache__/settings.cpython-310.pyc
sysmo/db.sqlite3
sysmo/logserver/__pycache__/models.cpython-310.pyc
sysmo/logserver/__pycache__/views.cpython-310.pyc
sysmo/logserver/__pycache__/serializers.cpython-310.pyc
