{% extends 'base.html' %} {% block content %}
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
  <div
    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
  >
    <h1 class="h2">Dashboard</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
      <div class="btn-group mr-2">
        <button class="btn btn-sm btn-outline-secondary">Share</button>
        <button class="btn btn-sm btn-outline-secondary">Export</button>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm alert alert-info">主機總數: {{ host_count }}</div>
      <div class="col-sm alert alert-success">正常主機: {{ normal_count }}</div>
      <div class="col-sm alert alert-warning">告警主機: {{ alert_count }}</div>
      <div class="col-sm alert alert-danger">斷線主機: {{ offline_count }}</div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
          <div class="card-header">主機總數</div>
          <div class="card-body">
            <h5 class="card-title">{{ host_count }}台</h5>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
          <div class="card-header">正常主機</div>
          <div class="card-body">
            <h5 class="card-title">{{normal_count}}台</h5>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card text-white bg-warning mb-3" style="max-width: 18rem;">
          <div class="card-header">告警主機</div>
          <div class="card-body">
            <h5 class="card-title">{{alert_count}}台</h5>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
          <div class="card-header">斷線主機</div>
          <div class="card-body">
            <h5 class="card-title">{{offline_count}}台</h5>
          </div>
        </div>
      </div>
    </div>
  <h2>主機清單</h2>
  <select class="custom-select grouplist">
    <option selected>All</option>
    <!--<option value = "{% cycle "web" "server" %}">web</option>-->
    {% for group in groups %}
    <option value="{{ group.name }}">{{ group.name }}</option>
    {% endfor %}
  </select>
  <div class="table-responsive">
    <table class="table table-striped table-sm" onload="test">
      <thead>
        <tr>
          <div class="btn-group" role="group" aria-label="Basic example">
            <th class="border-0">
              <button type="button" class="btn btn-secondary">主機名稱</button>
            </th>
            <th class="border-0">
              <button type="button" class="btn btn-secondary">主機群組</button>
            </th>
            <th class="border-0">
              <button type="button" class="btn btn-secondary">政策群組</button>
            </th>
            <th class="border-0">
              <button type="button" class="btn btn-secondary">擁有者</button>
            </th>
            <th class="border-0">
              <button type="button" class="btn btn-secondary">CPU</button>
            </th>
            <th class="border-0">
              <button type="button" class="btn btn-secondary">Memory</button>
            </th>
            <th class="border-0">
              <button type="button" class="btn btn-secondary">Swap</button>
            </th>
            <th class="border-0">
              <button type="button" class="btn btn-secondary">Disk</button>
            </th>
            <th class="border-0">
              <button type="button" class="btn btn-secondary">更新時間</button>
            </th>
            <th class="border-0">
              <button type="button" class="btn btn-secondary">狀態</button>
            </th>
          </div>
        </tr>
      </thead>
      <tbody class="dy_data"></tbody>
    </table>
  </div>
</main>
<script type="text/javascript" charset="utf-8">
  window.onload = function test() {
    const group = "All"
    getPerf(group);
    const groupselect = document.getElementsByClassName("grouplist");
    groupselect[0].addEventListener("change", function () {
      getPerf(groupselect[0].value)
    })
  };

  function renderData(data) {
    let dy_data = document.getElementsByClassName("dy_data");
    dy_data[0].innerHTML = ""
    //data = data.slice(2)
    console.log(typeof data)
    console.log(data)
    data.forEach((item) => {
      console.log(item)
      delete item['id']
      delete item['machine']
      let newRow = document.createElement("tr");
      Object.values(item).forEach((value) => {
        let newCell = document.createElement("td");
        newCell.innerText = value;
        newRow.appendChild(newCell);
      });
      dy_data[0].appendChild(newRow);
    });
    /*let row = document.createElement("tr");
    row.id = `${data.machine}`;
    ({id,machine,...keys} = data)
    for (let key in keys) {
      let cell = document.createElement("td");
      cell.id = `dy_data_${key}`;
      cell.innerText = data[key];
      row.appendChild(cell);
    }
    return row;*/
  }

  function getPerf(group) {
    //console.log(group)
    const html_path = (group == "All") ? "http://192.168.1.138/logserver/performances/get_last/" : `http://192.168.1.138/logserver/performances/get_last/?group=${group}`;


    fetch(html_path)
      .then(function (response) {
        return response.json();
      })
      .then(function (data) {
        renderData(data);
        //dy_data[0].innerHTML = ""
        /*for (var i = 0; i < data.length; i++) {
          let row = getDataRow(data[i]);
          dy_data[0].appendChild(row);
        }*/
      });
  }

  function getGroupPerf(group) {
    let groupselect = document.getElementsByClassName("grouplist");
    groupselect[0].addEventListener("change", function () {
      fetch(
        `http://192.168.1.138/logserver/performances/get_last/?group=${groupselect[0].value}`
      )
        .then(function (response) {
          console.log("test1");
          return response.json();
        })
        .then(function (data) {
          console.log("test2");
          dy_data = document.getElementsByClassName("dy_data");
          let dy_data_list = "";
          console.log(dy_data);
          for (var i = 0; i < data.length; i++) {
            dy_data_list += `
      <tr id="dy_data_${i}">
        <td id="dy_data_hostname">${data[i].hostname}</td>
        <td id="dy_data_group">${data[i].group}</td>
        <td id="dy_data_owner">${data[i].owner}</td>
        <td id="dy_data_cpu_usage">${data[i].cpu_usage}</td>
        <td id="dy_data_mem_usage">${data[i].mem_usage}</td>
        <td id="dy_data_swap_usage">${data[i].swap_usage}</td>
        <td id="dy_data_disk_usage">${data[i].disk_usage}</td>
        <td id="dy_data_datetime">${data[i].datetime}</td>
      </tr>
        `;
          }
          console.log(dy_data_list);
          dy_data[0].innerHTML = dy_data_list;
        });
    });
  }

  let timer = 1;

  /*fetch("http://192.168.1.138/logserver/performances/get_last/")
    .then(function (response) {
      return response.json();
    })
    .then(function (data) {
      dy_data = document.getElementsByClassName("dy_data");
      let dy_data_list = "";
      console.log(dy_data);
      for (var i = 0; i < data.length; i++) {
        dy_data_list += `
      <tr id="dy_data_${i}">
        <td id="dy_data_hostname">${data[i].hostname}</td>
        <td id="dy_data_group">${data[i].group}</td>
        <td id="dy_data_owner">${data[i].owner}</td>
        <td id="dy_data_cpu_usage">${data[i].cpu_usage}</td>
        <td id="dy_data_mem_usage">${data[i].mem_usage}</td>
        <td id="dy_data_swap_usage">${data[i].swap_usage}</td>
        <td id="dy_data_disk_usage">${data[i].disk_usage}</td>
        <td id="dy_data_datetime">${data[i].datetime}</td>
      </tr>
        `;
      }
      console.log(dy_data_list);
      dy_data[0].innerHTML = dy_data_list;
      /*for (var i = 0; i < data.length; i++){
      console.log(data[i])
      dy_data.innerHTML = `
      <td>${data[i].hostname}</td>
      <td><a href="http://192.168.1.138/logserver/group/${data[i].group}">${data[i].group}</td>
      <td>${data[i].cpu_usage}</td>
      <td>${data[i].mem_usage}</td>
      <td>${data[i].swap_usage}</td>
      <td>${data[i].disk_usage}</td>
      <td>${data[i].datetime}</td>
      `
    }
      console.log(data);
    });*/
</script>
<!--
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.7.1/dist/Chart.min.js"></script>
<script>
  var ctx = document.getElementById("myChart");
  var myChart = new Chart(ctx, {
    type: "line",
    data: {
      labels: [
        "Sunday",
        "Monday",
        "Tuesday",
        "Wednesday",
        "Thursday",
        "Friday",
        "Saturday",
      ],
      datasets: [
        {
          data: [15339, 21345, 18483, 24003, 23489, 24092, 12034],
          lineTension: 0,
          backgroundColor: "transparent",
          borderColor: "#007bff",
          borderWidth: 4,
          pointBackgroundColor: "#007bff",
        },
      ],
    },
    options: {
      scales: {
        yAxes: [
          {
            ticks: {
              beginAtZero: false,
            },
          },
        ],
      },
      legend: {
        display: false,
      },
    },
  });
</script>
-->
{% endblock %}
