{% extends 'base1.html' %} {% block content %}
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
  <div
    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
  >
    <h1 class="h2">Dashboard</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
      <div class="btn-group mr-2">
        <button class="btn btn-sm btn-outline-secondary">Share</button>
        <button class="btn btn-sm btn-outline-secondary">Export</button>
      </div>
      <!--
      <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
        <span data-feather="calendar"></span>
        This week
      </button>
      -->
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm alert alert-info">主機總數: {{ host_count }}</div>
      <div class="col-sm alert alert-success">正常主機: {{ normal_count }}</div>
      <div class="col-sm alert alert-warning">告警主機: {{ alert_count }}</div>
      <div class="col-sm alert alert-danger">斷線主機: {{ offline_count }}</div>
    </div>
  </div>

  <!-- <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas> -->

  <h2>主機清單</h2>
  <select class="custom-select grouplist">
    <option selected>All</option>
    <!--<option value = "{% cycle "web" "server" %}">web</option>-->
    {% for group in groups %}
    <option value="{{ group.id }}">{{ group.name }}</option>
    {% endfor %}
  </select>
  <div class="table-responsive">
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <div class="btn-group" role="group" aria-label="Basic example">
            <th class="border-0">
              <button type="button" class="btn btn-secondary">主機名稱</button>
            </th>
            <th class="border-0">
              <button type="button" class="btn btn-secondary">主機群組</button>
            </th>
            <th class="border-0">
              <button type="button" class="btn btn-secondary">擁有者</button>
            </th>
            <th class="border-0">
              <button type="button" class="btn btn-secondary">CPU</button>
            </th>
            <th class="border-0">
              <button type="button" class="btn btn-secondary">Memory</button>
            </th>
            <th class="border-0">
              <button type="button" class="btn btn-secondary">Swap</button>
            </th>
            <th class="border-0">
              <button type="button" class="btn btn-secondary">Disk</button>
            </th>
            <th class="border-0">
              <button type="button" class="btn btn-secondary">更新時間</button>
            </th>
            <th class="border-0">
              <button type="button" class="btn btn-secondary">狀態</button>
            </th>
          </div>
        </tr>
      </thead>
      <tbody class="dy_data"></tbody>
    </table>
  </div>
</main>
<script type="text/javascript" charset="utf-8">
  window.onload = function () {
    getDefaultPerf();

    //getDefaultPerf();
    let groupselect = document.getElementsByClassName("grouplist");
    //groupselect[0].addEventListener("change", function (getGroupPerf(groupselect[0].value)))
  };
  //let groupselect = document.getElementsByClassName("grouplist");
  //groupselect[0].addEventListener("change", function (getGroupPerf(groupselect[0].value)))

  function getDataRow(data) {
    let row = document.createElement("tr");
    row.id = `dy_data`;
    let hostnameCell = document.createElement("td");
    hostnameCell.id = "dy_data_hostname";
    hostnameCell.innerText = data.hostname;
    let groupCell = document.createElement("td");
    groupCell.id = "dy_data_group";
    groupCell.innerText = data.group;
    let ownerCell = document.createElement("td");
    ownerCell.id = "dy_data_owner";
    ownerCell.innerText = data.owner;
    let cpuCell = document.createElement("td");
    cpuCell.id = "dy_data_cpu_usage";
    cpuCell.innerText = data.cpu_usage;
    let memCell = document.createElement("td");
    memCell.id = "dy_data_mem_usage";
    memCell.innerText = data.mem_usage;
    let swapCell = document.createElement("td");
    swapCell.id = "dy_data_swap_usage";
    swapCell.innerText = data.swap_usage;
    let diskCell = document.createElement("td");
    diskCell.id = "dy_data_disk_usage";
    diskCell.innerText = data.disk_usage;
    let datetimeCell = document.createElement("td");
    datetimeCell.id = "dy_data_datetime";
    datetimeCell.innerText = data.datetime;
    row.appendChild(hostnameCell);
    row.appendChild(groupCell);
    row.appendChild(ownerCell);
    row.appendChild(cpuCell);
    row.appendChild(memCell);
    row.appendChild(swapCell);
    row.appendChild(diskCell);
    row.appendChild(datetimeCell);
    return row;
  }

  function getDefaultPerf() {
    const dy_data = document.getElementsByClassName("dy_data");
    fetch("http://192.168.1.138/logserver/performances/get_last/")
      .then(function (response) {
        return response.json();
      })
      .then(function (data) {
        for (var i = 0; i < data.length; i++) {
          let row = getDataRow(data[i]);
          dy_data[0].appendChild(row);
        }
      });
  }

  function getGroupPerf(group) {
    let groupselect = document.getElementsByClassName("grouplist");
    groupselect[0].addEventListener("change", function () {
      fetch(
        `http://192.168.1.138/logserver/performances/get_last/?group=${groupselect[0].value}`
      )
        .then(function (response) {
          console.log("test1");
          return response.json();
        })
        .then(function (data) {
          console.log("test2");
          dy_data = document.getElementsByClassName("dy_data");
          let dy_data_list = "";
          console.log(dy_data);
          for (var i = 0; i < data.length; i++) {
            dy_data_list += `
      <tr id="dy_data_${i}">
        <td id="dy_data_hostname">${data[i].hostname}</td>
        <td id="dy_data_group">${data[i].group}</td>
        <td id="dy_data_owner">${data[i].owner}</td>
        <td id="dy_data_cpu_usage">${data[i].cpu_usage}</td>
        <td id="dy_data_mem_usage">${data[i].mem_usage}</td>
        <td id="dy_data_swap_usage">${data[i].swap_usage}</td>
        <td id="dy_data_disk_usage">${data[i].disk_usage}</td>
        <td id="dy_data_datetime">${data[i].datetime}</td>
      </tr>
        `;
          }
          console.log(dy_data_list);
          dy_data[0].innerHTML = dy_data_list;
        });
    });
  }

  let timer = 1;

  /*fetch("http://192.168.1.138/logserver/performances/get_last/")
    .then(function (response) {
      return response.json();
    })
    .then(function (data) {
      dy_data = document.getElementsByClassName("dy_data");
      let dy_data_list = "";
      console.log(dy_data);
      for (var i = 0; i < data.length; i++) {
        dy_data_list += `
      <tr id="dy_data_${i}">
        <td id="dy_data_hostname">${data[i].hostname}</td>
        <td id="dy_data_group">${data[i].group}</td>
        <td id="dy_data_owner">${data[i].owner}</td>
        <td id="dy_data_cpu_usage">${data[i].cpu_usage}</td>
        <td id="dy_data_mem_usage">${data[i].mem_usage}</td>
        <td id="dy_data_swap_usage">${data[i].swap_usage}</td>
        <td id="dy_data_disk_usage">${data[i].disk_usage}</td>
        <td id="dy_data_datetime">${data[i].datetime}</td>
      </tr>
        `;
      }
      console.log(dy_data_list);
      dy_data[0].innerHTML = dy_data_list;
      /*for (var i = 0; i < data.length; i++){
      console.log(data[i])
      dy_data.innerHTML = `
      <td>${data[i].hostname}</td>
      <td><a href="http://192.168.1.138/logserver/group/${data[i].group}">${data[i].group}</td>
      <td>${data[i].cpu_usage}</td>
      <td>${data[i].mem_usage}</td>
      <td>${data[i].swap_usage}</td>
      <td>${data[i].disk_usage}</td>
      <td>${data[i].datetime}</td>
      `
    }
      console.log(data);
    });*/
</script>
<!--
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.7.1/dist/Chart.min.js"></script>
<script>
  var ctx = document.getElementById("myChart");
  var myChart = new Chart(ctx, {
    type: "line",
    data: {
      labels: [
        "Sunday",
        "Monday",
        "Tuesday",
        "Wednesday",
        "Thursday",
        "Friday",
        "Saturday",
      ],
      datasets: [
        {
          data: [15339, 21345, 18483, 24003, 23489, 24092, 12034],
          lineTension: 0,
          backgroundColor: "transparent",
          borderColor: "#007bff",
          borderWidth: 4,
          pointBackgroundColor: "#007bff",
        },
      ],
    },
    options: {
      scales: {
        yAxes: [
          {
            ticks: {
              beginAtZero: false,
            },
          },
        ],
      },
      legend: {
        display: false,
      },
    },
  });
</script>
-->
{% endblock %}
